<body>
  <h1>testing</h1>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./zayni.httpclient.proxy.js"></script>
<script>

  let serviceName = 'WebAPI.Test.HttpCore';
  // let baseUrl = 'http://localhost:5100/action/async';
  let baseUrl = 'http://zayni-lab.ddns.net:31178/zayni/service/action/async';
  let httpProxy = new HttpClientProxy(serviceName, baseUrl);
  let reqMagicTest = {
    someMsg: 'Hello World, Zayni Framework!!',
    someDate: '2019-04-27T23:47:02.037Z',
    magicNumber: 773.124,
    luckyNumber: 5278,
    isSuperXMan: true
  };

  (async () => {
    let result = await httpProxy.postAsync('MagicTestActionAsync', reqMagicTest);
    if (!result.success) {
      document.querySelector('h1').innerText = `ERROR ${result.message}`;
      return;
    }
    let json = JSON.stringify(result.data, null, 2);
    document.querySelector('h1').innerText = 'success\n' + json;
  })();

  let reqGetUsers = {
    sex: 1
  };

  (async () => {
    let result = await httpProxy.postAsync('GetUserModelsActionAsync', reqGetUsers);
    if (!result.success) {
      document.querySelector('h1').innerText = `ERROR ${result.message}`;
      return;
    }
    let json = JSON.stringify(result.data, null, 2);
    document.querySelector('h1').innerText = 'success\n' + json;
  })();
</script>